table  tr th{
    background-color: #1D2530!important;
    color: white!important;
    font-size: 20px;
}
table  tr td{
    color: black!important;
    font-size: 18px;
}
table{
    border: 1px solid white!important;
    box-shadow: 4px 4px 4px rgb(51, 50, 50);
}
