.user-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .user-item {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.3s;
  }
  
  .user-item:hover {
    transform: translateY(-8px);
    background-color: #e0f7fa;
  }
  
  .user-item h2 {
    text-align: center;
    font-size: 22px;
    color: #333;
    margin-bottom: 15px;
  }
  
  .user-item h3 {
    margin: 0 0 10px;
    color: #000000;
    font-weight: 700;

  }
  
  .user-item p {
    margin: 5px 0;
    font-size: 16px;
    font-weight: 600;
  }
  
  .user-item ul {
    padding-left: 20px;
    list-style-type: square;

  }
  
  .course-item {
    color: #00796b;
    transition: color 0.3s, font-weight 0.6s;
  }
  
  .course-item:hover {
    color: #004d40;
    font-weight: bold;
  }
  
  /* Special styles for each student's card */
  .special-card-1 {
    border-color: #ff7043;
    background-color: #ffe0b2;
  }
  
  .special-card-2 {
    border-color: #42a5f5;
    background-color: #bbdefb;
  }
  
  .special-card-3 {
    border-color: #66bb6a;
    background-color: #c8e6c9;
  }
  
  .special-card-4 {
    border-color: #ab47bc;
    background-color: #e1bee7;
  }
  